/* src/styles/profile.css */
.profile-page1 {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-image: url('../assets/pexels-charliehelenrobinson-4531306.jpg');
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.form-button {
  background-color: #007bff;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
