.footer {
  background-color: #111;
  color: #ccc;
  padding: 40px 20px 20px;
  font-size: 0.9rem;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 70px;
  margin-bottom: 30px;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin-left: 5rem;
}

/* .footer-column2 {
  flex: 1;
  min-width: 200px;
  margin-left: 7rem;
} */

.footer-column h3,
.footer-column h4 {
  color: #e3072b;
  margin-bottom: 15px;
  /* padding-left: 1rem; */
}

.footer-column ul {
  list-style: none;
  padding-left: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #e3072b;
}

.footer-bottom {
  border-top: 1px solid #222;
  text-align: center;
  padding-top: 10px;
  color: #555;
}
